.App {
  text-align: center;
}

.list {
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(54, 43, 85) 53%, rgb(52, 115, 128)100%);
  display: block;
  border-radius: 20px;
  min-width: 300px;
  max-width: 400px;
  padding: 15px 15px 15px 100px;
  list-style-type: none;
  box-shadow: 10px 10px 15px #000;
}

.list > li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: left;
  height: 18px;
}

.customInput {
  box-sizing: border-box;
  padding: 6px 10px;
  border-radius: 10px;
  width: 190px;
  outline: none;
  border: none;
}

.customButton {
  background: rgb(52, 115, 128);
  border-radius: 10px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  transition: .5s background, 1s color;
  width: 190px;
}

.customButton:hover {
  background: rgb(54, 43, 85);
  color: rgba(255, 255, 255, 0.9);
}

.btn-delete {
  margin-left: 12px;
  font-size: 12px;
  background: rgba(2,0,36,1);
  border-radius: 10px;
  padding-top: 4px;
  border: none;
  cursor: pointer;
  transition: .3s background;
  width: 90px;
  color: rgba(255, 255, 255, 0.9);
}

.btn-delete:hover {
  background: rgba(190, 35, 35, 0.664);
}

.customForm {
  margin: 22px 0px;
}

.customForm > *:not(:last-child) {
  margin-right: 20px;
}

.block-info {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.section-info {
  user-select: none;
}